@model List<AnalysisService.Models.vmCompareSalesInTowYear>
@using Newtonsoft.Json;
<script>
    am4core.ready(function () {
        let chart = am4core.createFromConfig({
                'type': 'XYChart3D',
            'data': @Html.Raw(JsonConvert.SerializeObject(Model)),
                'xAxes': [{
                        'type': 'CategoryAxis',
                    'dataFields': {
                            'category': 'Year'
                    },
                    'renderer': {
                            'grid': {
                                'template': {
                                    'type': 'Grid',
                                'location': 0
                                }
                        },
                        "labels": {
                            "template": {
                                "type": "AxisLabel",
                                "rotation": -45
                            }
                        },
                        'minGridDistance': 20
                    }
                    }],
                'yAxes': [{
                        'type': 'ValueAxis',
                    'min': 0,
                    'renderer': {
                            'maxLabelPosition': 0.98
                    }
                    }],
                'series': [{
                    'type': 'ColumnSeries3D',
                    'name': 'Year',
                    'columns': {
                            'template': {
                                'type': 'Column3D',
                            'strokeOpacity': 0,
                            'tooltipText': '{categoryX}\n{valueY}',
                            'tooltipPosition': 'pointer'
                            }
                        },
                    'dataFields': {
                            'valueY': 'Sales',
                        'categoryX': 'Year'
                    },
                    'sequencedInterpolation': true,
                    'sequencedInterpolationDelay': 100
                }],
            'legend': {
                'type': 'Legend',
                'position': 'right'
            }
            },
            document.getElementById('chartdiv')
        );
    });
</script>
<div id='chartdiv' style='width:100%; height:500px;margin-top:150px'></div>